@value colors: '../values/colors.css';
@value primary, primary-inverted, background from colors;

*,
button,
input,
optgroup,
select,
textarea {
  font-family: Roboto, serif, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: primary;
  font-size: 1.6rem;
  line-height: 2rem;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 2rem;
  background: background;
}

::selection {
  background: primary;
  color: primary-inverted;
}
