@value colors: '../../values/colors.css';
@value secondary from colors;

.main {
  display: block;
  margin: 0 0 2rem;
  color: secondary;
  font-weight: 300;
  font-size: 4.4rem;
  line-height: 5rem;
}
